.*.sw?
.DS_Store

.build
/@prefix@
/3X.app
/3x-*.sh
/3x-*.dmg
/.depends/*
!/.depends/*.commands
!/.depends/*.paths
!/.depends/*.test.sh
!/.depends/*.sh
!/.depends/*.depends

/test-*
/gh-pages
/3x-docs.diff.md
