/*
 * 3X home page style
 * Author: Jaeho Shin <netj@cs.stanford.edu>
 * Created: 2013-10-31
 */

/* Use Stanford Identity font with a nice monospace font
 * See: http://identity.stanford.edu/web-toolkit/guidelines/webfonts */
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic,600italic,700italic|Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic|Oxygen+Mono);
body {
    font: 17px/21px 'Crimson Text', Georgia, serif;
}
#nav, h1,h2,h3,h4,h5,h6, .sans-serif {
    font: 17px/21px 'Source Sans Pro', 'Lucida Grande', Tahoma, sans-serif;
}
#content pre, #content code, #content tt {
    font-family: 'Oxygen Mono', monospace !important;
    font-size: 1em; line-height: 1.5em;
}

#content h1  code,
#content h2  code,
#content h3  code,
#content h4  code,
#content h5  code,
#content h6  code { font-size: 0.85em; }
#content pre code { font-size: 0.75em; }
#content     code { font-size: 0.70em; }

#nav #sections > li > a {
    font-size: 16px;
    line-height: 18px;
}
#nav #sections ul li a {
    font-size: 14px;
    line-height: 16px;
    padding: 2px 10px;
}


/* Fixed nav bar for documents compiled by DocumentUp on desktops */
@media screen and (min-width: 1024px) {
    #nav {
        position: fixed;
        width: 230px;
        top: 0; bottom: 0;
        overflow-y: auto;
    }
    #content {
        margin-left: 260px;
    }
}

/* Justified text with hyphenation and wider margins */
#content {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    padding-bottom: 30%;
}
#content pre,
#content code,
#content tt {
    hyphens: manual;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    text-align: left;
}
#content h2 {
    margin-top: 1em;
}
#content hr {
    width: 75%;
    margin-top:    7.5em;
    margin-bottom: 7.5em;
}

/* figure and figcaption */
#content p figure img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
