// requires: _3X_DESCRIPTOR, title
doctype 5
html

  head
    meta(charset='utf-8')
    title 3X — #{title} — #{_3X_DESCRIPTOR.name} — #{_3X_DESCRIPTOR.hostname}:#{_3X_DESCRIPTOR.port}

    link(rel='stylesheet', href='/resource/3x.css')
    script(type='text/javascript', src='/resource/jquery.js')
    script(type='text/javascript', src='/resource/bootstrap.js')

  body(data-spy='scroll', data-target='.bs-docs-sidebar')

    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          div
            a.brand(href='http://netj.github.com/3x/')
              i.icon-beaker.icon
              | 3X

          block nav

    div.container-fluid
      div.row-fluid
        block content
