doctype 5
html

  head
    meta(charset='utf-8')
    title ExpKit — #{title}

    link(rel='stylesheet', href='/resource/expkit.css')
    script(type='text/javascript', src='/resource/jquery.js')
    script(type='text/javascript', src='/resource/bootstrap.js')

  body(data-spy='scroll', data-target='.bs-docs-sidebar')

    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          div
            a.brand(href='http://netj.github.com/expkit/')
              i.icon-beaker.icon
              | ExpKit

          block nav

    div.container-fluid
      div.row-fluid
        block content
